<div class="container mt-4">
    <div class="row">
        <h3>Listado de estudiantes</h3>
              


    </div>
    <br>
    <table class="table" *ngIf="listadoEstudiantes.length > 0">
        <thead>
            <th>Numero</th>
            <th>Nombre</th>
            <th>Estado</th>
        </thead>
        <tbody>
            <tr *ngFor="let estudiantes of listadoEstudiantes; let i = index">
                <td>{{i + 1}}</td>
                <td>{{estudiantes.nombre}}</td>
                <td>{{estudiantes.Estado}}</td>
            </tr>
           
        </tbody>

    </table>

    <h3 *ngIf="listadoEstudiantes.length === 0">No hay regristos para mostrar</h3>
</div>